  <link rel="stylesheet" href="includes/stylesheets/bootstrap.css" type="text/css" /><!-- PAGE | WELCOME -->
    <div class="pages white paralax page-welcome" id="page-welcome">
        <div class="overlay"></div>
        <!-- Centralized content -->
        <div class="centralized">
            <div class="container">
                <div class="row-fluid">
                    <div class="span12 center">
                        <!-- Animated logo -->
                        <img src="includes/images/pages/welcome/logo2.png" width="250"  alt="SerendipitUs">
                       <!--  <div class="logo">
                            <div class="scrollNormal">
                                <a href="#page-work">
                                    <img src="includes/images/pages/welcome/logo_welcome.png" width="140" height="140" alt="Treble">
                                </a>
                            </div>
                            <div class="scrollDown">
                                <a href="#page-work">
                                    <img src="includes/images/pages/welcome/logo2_welcome.png" width="140" height="140" alt="Treble">
                                </a>
                            </div> 
                        </div> -->


                        <div class="line-divider" id="welcome-messages">
                         <div class="line-divider">
                            <ul class="slides">
                                <li>
                                <h1>Plan a happy accident.</h1>
                                </li>
                                <li>
                                    <h1>Expand your circle.</h1>
                                </li>
                                
                                
                                <li>
                                    <h1>Make better memories.</h1>
                                </li>
                                
                            </ul>
                        </div>
                        
                        <p>Connect with Facebook to get started.</p>

                        <div class="masthead-links">
                            <button ng-click="login()" ng-hide="isLoggedIn" class="btn btn-info btn-lg btn-login">
                                <i class="fa fa-facebook-square fa-lg"></i> Connect
                            </button>
                        </div>

                        <a href="http://www.apple.com/osx/apps/app-store.html" target="_blank" class="appstore">Download App</a>

                        <div class="social-icons sicon-white bordered">
                            <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                            <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                            <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                            <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE | Welcome -->
    <script src="includes/js/application/application.min.js" type="text/javascript"></script>

