<div ng-controller="MyPlateController">
    <!-- <div class="col-md-6 hunt-bar pull-right">
        <div class="btn-group pull-right">
            <a href="#listview" data-toggle="tab" class="btn btn-default"> <i class="fa fa-th"></i> List View </a>
            <a href="#mapview" data-toggle="tab" class="btn btn-default"> <i class="fa fa-map-marker"></i> Map View </a>
        </div>
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search keyword..." value="{{currentLocationAddress}}">
            <span class="input-group-btn">
                <button class="btn btn-warning" type="button">
                    <i class="fa fa-crosshairs fa-lg"></i>
                </button> </span>
        </div>
    </div> --><!--/col-->

   <!--  <h1>Meals Feed <span>What people are eating nearby</span></h1> -->

    <div class="tab-content">
        
        <!--div class="tab-pane" id="mapview">
            <div ng-controller="SearchController">
                <div id="mapholder">
                    <div ng-show="isLoading" class="spinner">
                        <i class="fa fa-refresh fa-spin fa-lg"></i>
                    </div>
                </div>
            </div>
        </div> -->
    </div><!--/tab-content-->

<div class="pages page-about" id="page-about">
    <div class="container">

        <header>
            <h4 class="line-divider">Your Trips</h4>
            <p class="smallFontBy08">Hover over your trips to start a conversation with fellow travelers.</p>
            <div class="row">
        </header>

        <div ng-repeat="food in foods">
            <article>
                <ul class="thumbnails about-items my-thumbnails"><div class="about-overlay img-circle"></div></ul>
                <ul class="thumbnails about-items">
                    <li class="span4 center">
                        <div class="item">
                            <img class="img-circle" src="{{food.attributes.photo._url}}" width="250" height="250"  />
                            <div class="about-overlay img-circle about-extra"></div>
                            <div class="about-overlay img-circle">
                                <div class="trip-info sicon-white">
                                    <div class="trip-link" ng-repeat="parseuser in parseusers">
                                        <span>{{parseuser.attributes.fbUserData.first_name}}</span>
                                        <a href="#chatModal" id="chat-trigger" data-toggle="modal" role="button">
                                        <img class="img-profile" ng-src="http://graph.facebook.com/{{parseuser.attributes.fbUserData.id}}/picture?type=square"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h5>
                            {{food.attributes.itineraryObj.HotelItineraryResponse.Itinerary.HotelConfirmation.Hotel.city}}
                            <br/><small>{{food.attributes.itineraryObj.HotelItineraryResponse.Itinerary.HotelConfirmation.Hotel.name}}
                            <br />March 10th - March 15th</small>
                        </h5>
                    </li> 
                </ul>
            </article>
        </div>
    </div>
</div>


<!-- Widget -->
<div class="widget">
    <!-- Widget title -->
    <div class="widget-head">
      <div class="pull-left">Chats</div>
      <div class="widget-icons pull-right">
        <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
        <a href="#" class="wclose"><i class="icon-remove"></i></a>
      </div>  
      <div class="clearfix"></div>
    </div>

    <div class="widget-content">
      <!-- Widget content -->
      <div class="padd">
        
        

      </div>
      <!-- Widget footer -->
      
    </div>
</div> 


<div class="modal fade modal-wide" id="chatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <ul class="chats">

      <li class="by-me"  ng-repeat="message in messages" cool-fade>
        <div class="avatar pull-left">
          <img ng-src="http://www.gravatar.com/avatar/{{message.email}}?s=60&r=R&d=https://www.guardly.com/commonassets/images/img_profile_placeholder.png" class="avatar avatar-60 photo" height="60" width="60"/>
        </div>

        <div class="chat-content">
          <div class="chat-meta">{{message.username}} said: <span class="pull-right">3 hours ago</span></div>
          {{message.text}}
          <div class="clearfix"></div>
        </div>
      </li> 

      <!-- <li class="by-other">
        <div class="avatar pull-right">
          <img src="img/user.jpg" alt=""/>
        </div>

        <div class="chat-content">
          <div class="chat-meta">3 hours ago <span class="pull-right">Ravi</span></div>
          Vivamus diam elit diam, consectetur fconsectetur dapibus adipiscing elit.
          <div class="clearfix"></div>
        </div>
      </li>          -->                                                        
    </ul>

    <div class="widget-foot">
          
          <form class="form-inline">
            <div class="form-group">
                <input placeholder="What's on your mind?" type="text" name="text" ng-model="message.text"/>
            </div>
            <button type="submit" ng-click="publish()" class="btn btn-primary">Send</button>
          </form>
      </div>
</div>

</div><!--ng-controller-->

<script type="text/javascript">
    $(document).on('click','#chat-trigger',function(){
        var myParent = $(this).parents('li'),
            theNav = $('#navigation');

        $(myParent).css('z-index',1030);
        $(theNav).css('z-index',1031);
    });
</script>
